.git
__pycache__
*.pyc
.env
.env.*
.venv*
**/.config.yaml
**/.secrets.yaml
**/.private_config.yaml
**/node_modules
**/target
main/xiaozhi-server/config/assets/wakeup_words/
main/xiaozhi-server/models/SenseVoiceSmall/model.pt
main/xiaozhi-server/tmp/
main/xiaozhi-server/data/
Dockerfile
tmp/
data/
